:root{
    --main-color : #414BB2;
}

/* wellcom */
.wellcome {
    margin-top: 0px;
}
.wellcome .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wellcome .container div{
    width: 45%;
}
.wellcome .container .name h2:first-child{
    color: var(--main-color); 
    font-size: 40px;
}

.wellcome .container .name h2:last-child{
    padding:30px;
    font-size: 35px;
    background-color: var(--main-color);
    color: white;
    border-radius: 25px;
    text-align: center;
}
.wellcome .container .image img{
   
    animation: up-down 1.2s linear  infinite alternate ;
}
@media (max-width:480px) {
    .wellcome .container {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .wellcome .container .name {
        width: 100%;
    }
    .wellcome .container .image{
        width: 100%;
    }
}
@keyframes up-down {
    from {transform: translateY(-7px);}
    to{transform: translateY(7px);}  
}
/* wellcom */
.footertContant{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    color: white;
}

footer{
    background-color:#414BB2;
    /* position: fixed; */
    bottom: 0 ;
    left: 0;
    right: 0;
    padding:20px 0px ;
    box-sizing: content-box;
}
footer .container .contact li :hover{
    background-color: #20287a;
    font-size: 20px;   
}
footer .container .socialMedia li :hover{
    background-color: #20287a;
    font-size: 40px;   
}
@media (max-width:480px) {
    .container .footertContant{
        flex-direction: column;
       }
}