

.header .container {
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    gap:20px;
    margin-bottom:50px;
}

img {
    width: 100%;
    height: 100%;
}

.product .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px
}

.card {
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s;
}

    .card:hover {
        transform: scale(1.1);
    }

.product .image {
    height: 70%;
}

.product .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
